[project]
	description = The Vole website.
[access "refs/*"]
	owner = group user/TT1943 (TT1943)
[access "refs/for/refs/*"]
	read = group user/TT1943 (TT1943)
	push = group user/TT1943 (TT1943)
	label-Code-Review = -2..+2 group user/TT1943 (TT1943)
	label-Verified = -1..+1 group user/TT1943 (TT1943)
	rebase = group user/TT1943 (TT1943)
	removeReviewer = group user/TT1943 (TT1943)
	submit = group user/TT1943 (TT1943)
[access "refs/heads/*"]
	read = group user/TT1943 (TT1943)
	create = group user/TT1943 (TT1943)
	push = +force group user/TT1943 (TT1943)
	pushMerge = group user/TT1943 (TT1943)
[access "refs/tags/*"]
	push = +force group user/TT1943 (TT1943)
	pushTag = group user/TT1943 (TT1943)
	pushSignedTag = group user/TT1943 (TT1943)
